body {
  margin:0 10%;
  color: #333;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
}

h1 {
  text-align: center;
  font-weight:normal;
}

h2 {
  font-weight:normal;
  width:100%;
  float:left;
  margin: 20px 0  0px 0;
}

code {
  background-color: ghostWhite;
  border: 1px solid #DEDEDE;
  color: #444;
  padding: 0 3px;
}

label {
  width: 100px;
  float:left;
  text-align:right;
  margin:4px 10px 0 0;
}

p {
  float:left;
  width: 100%;
}
.gist {
  margin-top: 10px;
  font-size: 12px;
}

.ui-autocomplete-input, .input input {
  border: none; 
  font-size: 14px;
  width: 300px;
  height: 24px;
  margin-bottom: 5px;
  padding-top: 2px;
}

.ui-autocomplete-input {
  border: 1px solid #DDD !important;
  padding-top: 0px !important;
}

#map {
  border: 1px solid #DDD; 
  width:300px;
  height: 300px;
  float:left;  
  margin: 0px 0 0 10px;
  -webkit-box-shadow: #AAA 0px 0px 15px;
}

#legend {
  float: left;
  font-size: 12px;
  font-style: italic;
  margin: 10px 0px 0px 430px;
}

.ui-menu .ui-menu-item a {
  font-size: 12px;
}

.input {
  float:left;  
}