body {
  margin:0 10%;
  color: #333;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
}

h1 {
  text-align: center;
  font-weight:normal;
}

h2 {
  font-weight:normal;
  width:100%;
  float:left;
}

code {
  background-color: ghostWhite;
  border: 1px solid #DEDEDE;
  color: #444;
  padding: 0 3px;
}

.gist {
  margin-top: 10px;
  font-size: 12px;
}

.ui-autocomplete-input {
  border: 1px solid #DDD; 
  font-size: 20px;
}

.ui-addresspicker-map {
  border: 1px solid #DDD; 
  width:300px;
  height: 300px;
  float:left;  
  margin: 2px 0 0 10px;
}

.input {
  float:left;
  
}